# 1. copy templates
cp .env.example .env
cp dbt_carbon/profiles.yml.example dbt_carbon/profiles.yml

# 2. แก้ค่าใน .env
CARBON_DB_USER=XXXX
CARBON_DB_PASS=XXXX
AIRFLOW_ADMIN_PASS=XXXX
AIRFLOW_ADMIN_EMAIL=test@example.com

# 3. รัน
docker compose up -d